@font-face {
  src: url('../fonts/Bassanova.otf');
  font-family: Bassanova;
} 

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

.grid-container {
  display: grid;
  grid-template-areas:
    'logo header header header header header'
    'nav nav nav nav nav nav'
    'menu main main main rightUp rightUp'
    'menu main main main rightDown rightDown'
    'footer footer footer footer footer footer';
  height: 100vmin;
  width:100%;
  margin-top: -0.5vw;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.25fr 3fr 3fr 0.3fr;*/
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 4fr 4fr 1fr;
}

.logo{
  grid-area: logo;
  background-color: #cc0000;
  color: #ffe6cc;
  font-family: 'Bassanova', sans-serif;
  font-weight: bold;
  padding: 1vmin;
  margin: 0;
  padding-bottom: 0;
  text-align: left;
  border-right: 0.2vw solid #000000;
  font-size: 2.5vmin;
  line-height: 0.1vmin;
}

.header { 
  grid-area: header;
  font-family: 'Bassanova', sans-serif;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: bolder;
  color: #331a00;
  text-align: right; 
  letter-spacing: -0.05vw;
  position: static;
  padding: 1vw;
  padding-bottom: 0;
  font-size: 5vw;
  background-color: #ffe6cc;
}

.sep {
  grid-area: sep;
  background-color: #331a00; 
}


.navbar{
  grid-area: nav;
  background-color: #e60000;
  border: 0.2vw solid #000000;
  font-family:'Bassanova', sans-serif;
  font-size: 1.2vw;
  color: #331a00;
}

ul.navbar-nav {
  margin-top: 1.5vmin;
  margin-bottom: 1.5vmin;
}

/*Style the navigation bar links*/
.nav-item a, .nav-item.dropdown a {
  color: white;
  margin: 0;
  padding: 0.1vw 0.2vw;
  text-decoration: none;
  text-align: center;
  font-family: 'Bassanova', sans-serif;
}

.nav-item a:hover, .nav-item.dropdown a:hover, .dropdown:hover {
  background-color: #ffa31a;
  color: black;
  font-weight: bold;
  padding-right: 2vmin;
  padding-left: 2vmin;
}

.nav-item, .dropdown li, a {
  display: inline-block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {background-color: #f1f1f1;}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffe6cc;
  min-width: 50vw;
  box-shadow: 0 1vmin 1vmin 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a.dropdown-item {
  color: black;
  padding: 0.4vw 0.3vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

button {
  color: #ffe6cc;
  padding: 0.5vmin;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-family: 'Bassanova', sans-serif;
  background-color: #cc0000;
}

button:hover {
  color: #cc0000;
  font-weight: bold;
  background-color: #ffe6cc;
}

.menu { 
  grid-area: menu; 
  background-color: #ffa31a;
  border: 0.2vw solid #000000;
  padding: 1vw;
  overflow: auto;
  font-family: 'Bassanova', sans-serif;
  letter-spacing: 0.02vmin;
  color: #ffe6cc;
  scroll-behavior: smooth;
  font-size: 2.5vmin;
  text-align: left;
}

.menu ul.navbar-nav {
  color: white;
  margin: 0;
  padding: 0;
  margin-top: 1.5vmin;
  margin-bottom: 1.5vmin;
  text-decoration: none;
  text-align: center;
  font-family: 'Bassanova', sans-serif;
}

.menu nav.navbar ul li .dropdown-menu {
  max-width: 50vw;
}

.menu nav.navbar ul li .dropdown-menu .dropdown-item {
  display: inline-block;
}

/*.menu nav.navbar ul li {
  display: block;
}*/

.boxM { 
  grid-area: main; 
  overflow: auto;
  border-top: 0.2vw solid #000000;
  border-bottom: 0.2vw solid #000000;
  padding:2vw;
  scroll-behavior: smooth;
  overflow-wrap: break-word;
}

.boxRU { 
  grid-area: rightUp; 
  overflow:auto;
  border-right: 0.2vw solid #000000;
  border-top: 0.2vw solid #000000;
  border-left: 0.2vw solid #000000;
  padding:2vw;
  scroll-behavior: smooth;
  overflow-wrap: break-word;
}

.boxRD { 
  grid-area: rightDown;
  overflow:auto;
  border: 0.2vw solid #000000;
  padding:2vw;
  scroll-behavior: smooth;
  overflow-wrap: break-word;
}

.footer { 
  grid-area: footer; 
  text-align: center;
  background-color: #cc0000;
  color: #ffe6cc;
  font-family: 'Bassanova', sans-serif;
  font-size: 1vw;
  margin-bottom: -0.5vw;
  padding: 0 1vw 0 1vw;
}

.footer a, .footer p a {
  font-family: 'Bassanova', sans-serif;
  font-variant-ligatures: discretionary-ligatures;
}

.footer a:link {
  color:  #ffe6cc;
  text-decoration: none;
  font-weight: bold;
}

.footer a:visited {
  color: #ffe6cc;
}

.footer a:hover {
  color: #ffe6cc;
  font-style: italic;
  text-decoration: underline;
}

/* required - the "base" of the bar - mostly for setting width */
.boxM::-webkit-scrollbar {
  width: 2vmin;               /* width of the entire scrollbar */
}
  /* the "track" of the bar, "background" colors */
.boxM::-webkit-scrollbar-track {
  background-color: #ffe6cc;        /* color of the tracking area */   
  -webkit-filter: blur(0.7vmin); /* Safari 6.0 - 9.0 */
  filter: blur(0.7vmin);
}
  /* the actual draggable element */
.boxM::-webkit-scrollbar-thumb {
  background-color: #ffa31a;    /* color of the scroll thumb */
  border-radius: 0.3vmin;       /* roundness of the scroll thumb */
  border: 0.3vmin solid #331a00;
}  

 /* required - the "base" of the bar - mostly for setting width */
.boxRU::-webkit-scrollbar {
  width: 2vmin;               /* width of the entire scrollbar */
}
  /* the "track" of the bar, "background" colors */
.boxRU::-webkit-scrollbar-track {
  background-color: #ffe6cc;        /* color of the tracking area */   
  -webkit-filter: blur(0.7vmin); /* Safari 6.0 - 9.0 */
  filter: blur(0.7vmin);
}
  /* the actual draggable element */
.boxRU::-webkit-scrollbar-thumb {
  background-color: #ffa31a;    /* color of the scroll thumb */
  border-radius: 0.3vmin;       /* roundness of the scroll thumb */
  border: 0.3vmin solid #331a00;
}  

 /* required - the "base" of the bar - mostly for setting width */
.boxRD::-webkit-scrollbar {
  width: 2vmin;               /* width of the entire scrollbar */
}
  /* the "track" of the bar, "background" colors */
.boxRD::-webkit-scrollbar-track {
  background-color: #ffe6cc;        /* color of the tracking area */   
  -webkit-filter: blur(0.7vmin); /* Safari 6.0 - 9.0 */
  filter: blur(0.7vmin);
}
  /* the actual draggable element */
.boxRD::-webkit-scrollbar-thumb {
  background-color: #ffa31a;    /* color of the scroll thumb */
  border-radius: 0.3vmin;       /* roundness of the scroll thumb */
  border: 0.3vmin solid #331a00;
}  

/* required - the "base" of the bar - mostly for setting width */
.menu::-webkit-scrollbar {
  width: 2vmin;               /* width of the entire scrollbar */
}
  /* the "track" of the bar, "background" colors */
.menu::-webkit-scrollbar-track {
  background-color: #ffa31a;        /* color of the tracking area */   
  -webkit-filter: blur(0.7vmin); /* Safari 6.0 - 9.0 */
  filter: blur(0.7vmin);
}
  /* the actual draggable element */
.menu::-webkit-scrollbar-thumb {
  background-color: #ffe6cc;    /* color of the scroll thumb */
  border-radius: 0.3vmin;       /* roundness of the scroll thumb */
  border: 0.3vmin solid #331a00;   
}  

/* maybe useless*/
html, body {
    /* get rid of default spacing on the edges */
    margin: 0;
    padding: 0;
    /* get rid of that 2px window border in Internet Explorer 6 */
    border: 0;
    /* fill the height of the browser */
    height: 100%;
    /* no more scroll bar */
    overflow-x: hidden;
    display: block;
    scroll-behavior: smooth;
}

/* maybe useless*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffe6cc; 
  font-family: sans-serif; /*debug*/
  color: #ff0080; /*FUXIA for debug*/
  overflow-wrap: break-word;
}

img {
  width: 100%
  filter: contrast(130%);
}

figure img {
  width: 100%
  filter: contrast(130%);
  padding-bottom: 2vh;
}

figcaption {
  transform: skewY(-4deg);
}

.highlighted {
  font-style: oblique;
  background-color: #cc0000;
  color: #ffe6cc;
  font-family: 'Bassanova', sans-serif;
  font-variant-ligatures: discretionary-ligatures; 
}

.highlighted_more {
  font-weight: bold;
  text-decoration: underline; 
}

/*.navbar-nav-selector {
background-color: #c68c8c;
margin-top: 2.5vmin;
}

.buttons {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: #993333;
  margin-right: 1vmin;
  font-family: 'Cinzel', serif;
  font-size: 1.2vw;
}*/

/* CHIEDI a ENIRCA COME CLASSIFICARE DIV sua e COME METTERE ANCHE NOI*/
.enriclass {
  text-align: right;
  color:  #331a00;
  font-size: 1.1em;
  font-family: 'Bassanova', sans-serif;
  letter-spacing: 0.02vmin;
}

.title_art h2 {
  padding-right: 1.25em;
  color: #330000;
  letter-spacing: 0.95pt;
  word-spacing: 2.75pt;
  text-align: center;
  font-size: 2.75em;
  font-family: 'Bassanova', sans-serif;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: bold;
  transform: skewY(-5deg);  
}

.title_art p {
  padding-right: 1.25em;
  color: #330000;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.95pt;
  word-spacing: 2.75pt;
  font-size: 1em;
  font-family: 'Bassanova', sans-serif;
  font-variant-ligatures: discretionary-ligatures;
  transform: skewY(-5deg);  
}

.maincontent {
  padding: 1em 1.75em;
  color: #331a00;
  font-size: 3vmin;
  font-family: 'Bassanova', sans-serif;
  letter-spacing: 0.02vmin;
}

.maincontent h3 {
  font-size: 1.3em;
  font-family: 'Bassanova', sans-serif;
  font-weight: bold;
  font-variant-ligatures: discretionary-ligatures;
  background-color: #cc0000;
  color: #ffe6cc;
  text-align: center;
  padding: 2vmin;
  margin: 0.4vmin;
  transform: skewY(-7deg);
}

.maincontent h4 {
  font-size: 1.2em;
  font-family: 'Bassanova', sans-serif;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: bold;
  background-color: #e60000;
  color: #ffa31a;
  text-align: right;
  padding: 1vmin;
  margin: 0.4vmin;
  transform: skewY(-5deg);
}

.maincontent h5 {
  font-size: 1.2em;
  font-family: 'Bassanova', sans-serif;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: bold;
  background-color: #e60000;
  color: #ffa31a;
  text-align: right;
  padding: 1vmin;
  margin: 0.4vmin;
  transform: skewY(-5deg);
}

.maincontent h6 {
  font-style: italic;
  font-size: 1.1em;
  font-family: 'Bassanova', sans-serif;
  font-variant-ligatures: discretionary-ligatures;
  background-color: #e60000;
  color: #ffa31a;
  text-align: right;
  padding: 1vmin;
  margin: 0.4vmin;
  transform: skewY(-5deg);
}

.maincontent a:link {
  color:  #cc0000;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Bassanova', sans-serif;
  font-variant-ligatures: discretionary-ligatures;
}

.maincontent a:visited {
  color: #cc0000;
}

.maincontent a:hover {
  color: #ff0000;
  font-style: italic;
  text-decoration: underline;
}

.maincontent div[id^="sec"] {
  background-color: #ffa31a;
  color: ;
  margin: 0vmin;
  padding: 2.5vmin;
  transform: skewY(+4deg);
}


.maincontent p {
  color: ;
  margin: 2vmin;
  padding: 2vmin;
  transform: skewY(-4deg);
}


/*this may indeed be a PROBLEM*/
.maincontent table, .maincontent table img, .maincontent ol, .maincontent ul, .maincontent img, .maincontent blockquote {
  transform: skewY(-4deg);
}


.annexes {
  text-align: center;
  color:  #ff751a;
  font-size: 1.1em;
  font-family: 'Bassanova', sans-serif;
  letter-spacing: 0.02vmin;
}

.annexes h3 {
  text-align: center;
  color:  #ff751a;
  font-size: 1.3em;
  font-family: 'Bassanova', sans-serif;
  font-weight: bold;
}

.annexes h4 {
  text-align: center;
  color:  #ff751a;
  font-size: 1.2em;
  font-family: 'Bassanova', sans-serif;
  font-weight: bold;
}

.annexes h5 {
  text-align: center;
  color:  #ff751a;
  font-size: 1.1em;
  font-family: 'Bassanova', sans-serif;
}

.references {
  margin: 3em 2em;
  padding-right: 2em;
  padding-left: 2em;
  color:  #b32d00;
  font-size: 1.1em;
  font-family: 'Bassanova', sans-serif;
  font-variant-ligatures: discretionary-ligatures;
  letter-spacing: 0.02vmin;
}

.references ul {
  padding-left: 0;
}

.references>ul>li {
  margin: 0;
  padding: 0;
  list-style-image: url('../img/IR_styles/asterix.jpg');
  color:  #b32d00;
  font-size: 0.90em;
  font-family: 'Bassanova', sans-serif;
  font-variant-ligatures: discretionary-ligatures;
  padding-bottom: 2.5vmin;
}

.references>ul>li:nth-child(odd) {
  transform: skewY(+1.5deg);
}

.references>ul>li:nth-child(even) {
  transform: skewY(-1.5deg);
}

blockquote {
  padding: 1vmin 5%;
  background-color: #ffe6cc;
  color: #cc0000;
  text-align: justify;
  font-family: 'Bassanova', sans-serif;
  font-style: italic;
}

q {
  color: #ffe6cc;
  font-family: 'Bassanova', sans-serif;
  font-style: italic;
}

.maincontent p cite {
  font-family: 'Bassanova', sans-serif;
  font-style: oblique;
  color: #cc0000;
}

.maincontent p em {
  font-family: 'Bassanova', sans-serif;
  color: #cc0000;
}

.maincontent p strong {
  font-family: 'Bassanova', sans-serif;
  font-size: bold;
}

table.table {
  padding: 0;
  /*width: 40%;*/
  border: 0.2rem solid  #cc0000;
  empty-cells: show;
  table-layout: fixed;
  width: 100%;
}

table, th, td, thead {
  border: 0.2rem solid  #cc0000;
  /*border-collapse: collapse;*/
  text-align: center;
  vertical-align: bottom;
}

th, td, thead {
  width: 20%;
}

table th {
  color: #cc0000;
}

table td:hover{
  text-decoration: underline;
}

h6#main_art_title, h6#guest_art_title, h6#rev_art_title {
  font-family: 'Bassanova', sans-serif;
  letter-spacing: 0.02vmin;
  color: #ffe6cc;
  scroll-behavior: smooth;
  font-size: 2.5vmin;
  text-align: left; 
}
