@font-face {
  src: url('../fonts/ArabesqueInitialen.ttf');
  font-family: Arabesque;
}
@font-face {
  src: url('../fonts/im-fell-great-primer/IMFeGPsc29P.ttf');
  font-family: IM Fell Great Primer SC;
}
@font-face {
  src: url('../fonts/im-fell-great-primer/IMFeGPrm29P.ttf');
  font-family: IM Fell Great Primer;
} 

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*grid layout and items*/
/*.grid-container {
  display: grid;
  grid-template-areas:
    'logo header header header header header'
    'nav nav nav nav nav nav'
    'menu main main main rightUp rightUp'
    'menu main main main rightDown rightDown'
    'footer footer footer footer footer footer';
  height: 100vh;
  width:100%;
  margin-top: 0vw;
  grid-template-columns: 35vmin 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 15vmin 15vmin 1fr 1fr 5vmin;
}*/

.grid-container {
  display: grid;
  grid-template-areas:
    'logo header header header header header'
    'nav nav nav nav nav nav'
    'menu main main main rightUp rightUp'
    'menu main main main rightDown rightDown'
    'footer footer footer footer footer footer';
  height: 100vmin;
  width:100%;
  margin-top: -0.5vw;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.25fr 3fr 3fr 0.3fr;*/
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 3fr 1fr;
}

.logo{
  grid-area: logo;
  /*background-color: #0052cc;
  color: #fff2e6;*/
  /*background-image: url('../img/IR_styles/provanew3.jpg');*/
  color: #0052cc;
  font-family: 'IM Fell Great Primer', serif;
  padding: 0.5vw;
  text-align: center;
  margin: 0;
  padding-bottom: 0;
  padding-top: 6vmin;
  font-weight: bold;
  font-size: 2vmin;
  line-height: 0.1vmin;
}

/*.logo p {
  display: inline;
  visibility: hidden;
}*/

.logo p:first-letter {
  font-family: 'IM Fell Great Primer', serif;
  font-size: 3.5vmin;
  color: #0052cc;
}

.logo p {
  display: inline-block;
}

.header {
  grid-area: header;
  font-family: 'IM Fell Great Primer', serif;
  font-variant-caps: all-small-caps;
  color: #330000;
  text-align: left; 
  letter-spacing: -0.05vw;
  position: static;
  padding: 0.5vw;
  padding-left: 12vw;
  padding-bottom: 0;
  /*background-image: url('../img/IR_styles/provanew2.jpg');*/
  font-size: 5vw;
  font-weight: bolder;
}

.sep {
  grid-area: sep;
  background-color: #331a00; 
}


.navbar{
  grid-area: nav;
  /*background-image:  url('../img/IR_styles/scrollbar.jpg');*/
  font-family: 'IM Fell Great Primer', serif;
  font-size: 1.2vw;
  color: #331a00;
  border: 0.1vmin solid #331a00;
}

ul.navbar-nav {
  margin-top: 1.5vmin;
  margin-bottom: 1.5vmin;
}


/*Style the navigation bar links*/
.nav-item a, .nav-item.dropdown a {
  color: #331a00;
  margin: 0;
  padding: 0.1vw 0.2vw;
  text-decoration: none;
  text-align: center;
  font-family: 'IM Fell Great Primer', sans-serif;
}

.nav-item a:hover, .nav-item.dropdown a:hover, .dropdown:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #331a00;
  font-weight: bold;
  padding: 0.1vw 0.2vw;
}

.nav-item, .dropdown li, a {
  display: inline-block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {background-color: rgba(0, 0, 0, 0.1);}

.dropdown-menu {
  display: none;
  position: absolute;
  background-image: url('../img/IR_styles/provanew2.jpg');
  min-width: 20vw;
  box-shadow: 0 1vmin 1vmin 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a.dropdown-item {
  color: #331a00;
  padding: 0.4vw 0.3vw;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'IM Fell Great Primer', serif;
}

button {
  background-color: transparent;
  border: none;
  font-size: 3vmin;
  color: #331a00;
  padding: 0.5vmin;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-family: 'IM Fell Great Primer', serif;
  /*background-color: #cc0000;*/
}

button:hover {
  color: #0052cc;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
}


.menu {
  grid-area: menu; 
  padding: 1.2vw;
  overflow: auto;
  /*background-image: url('../img/IR_styles/provanew2.jpg'); */
  font-family: 'IM Fell Great Primer', serif;
  color: #cc0000;
  scroll-behavior: smooth;
  letter-spacing: 0.05vmin;
  font-size: 2.7vmin;
  text-align: center;
  font-weight: 500;
  text-shadow: 0.1vmin 0.1vmin rgba(0,0,0,0.3);
}

.menu .navbar {
  border: none;
}

.menu ul.navbar-nav {
  color: #0052cc;
  margin: 0;
  margin-top: 1.5vmin;
  margin-bottom: 1.5vmin;
  text-decoration: none;
  text-align: center;
  font-family: 'IM Fell Great Primer', serif;
  /*background-color: #0052cc;*/
  margin: 0;
  padding: 0;
  border: none;
}

.menu nav.navbar ul li .dropdown-menu {
  max-width: 50vw;
}

.menu nav.navbar ul li .dropdown-menu .dropdown-item {
  display: inline-block;
}

/*.menu nav.navbar ul li {
  display: block;
}*/

.boxM {
  grid-area: main; 
  overflow: auto;
  border-left: 0.1vmin solid #331a00;
  padding:2vw;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'IM Fell Great Primer SC', serif;
  color: #ff0080;
  /*background-image:url('../img/IR_styles/provanew2.jpg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
}

.boxRU {
  grid-area: rightUp; 
  overflow:auto;
  border-right: 0.1vmin solid #331a00;
  border-left: 0.1vmin solid #331a00;
  padding:2vw;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'IM Fell Great Primer SC', serif;
  color: #ff0080;
  /*background-image:url('../img/IR_styles/provanew2.jpg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
}

.boxRD {
  grid-area: rightDown;
  overflow:auto;
  border-left: 0.1vmin solid #331a00;
  border-right: 0.1vmin solid #331a00;
  padding:2vw;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'IM Fell Great Primer SC', serif;
  color: #ff0080;
  /*background-image:url('../img/IR_styles/provanew2.jpg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
}

.footer {
  grid-area: footer; 
  text-align: center;
  border-top: 0.1vmin solid #331a00;
  /*background-image:url('../img/IR_styles/provanew2.jpg');*/
  /*background-image:  url('../img/IR_styles/scrollbar.jpg');*/
  color: white;
  font-family: 'IM Fell Great Primer', serif;
  color: #331a00;
  font-size: 1vw;
  margin-bottom: -0.5vw;
  padding: 0 1vw 0 1vw;
  letter-spacing: 0.2vmin;
}

.footer a, .footer p a {
  font-family: 'IM Fell Great Primer', serif;
}

.footer a:link {
  text-decoration: none;
  font-weight: bold;
  color: #0052cc;
}

.footer a:visited {
  color: #0052cc;
}

.footer a:hover {
  color: #0052cc;
  font-style: italic;
  text-decoration: underline;
}

/* required - the "base" of the bar - mostly for setting width */
.boxM::-webkit-scrollbar {
  width: 2vmin;               /* width of the entire scrollbar */
}
  /* the "track" of the bar, "background" colors */
.boxM::-webkit-scrollbar-track {
  /*background-image: url('../img/IR_styles/scrollbar.jpg'); */
  -webkit-filter: blur(0.7vmin); /* Safari 6.0 - 9.0 */
  filter: blur(0.7vmin);
}
  /* the actual draggable element */
.boxM::-webkit-scrollbar-thumb {
  background-image: url('../img/IR_styles/scrollbar.jpg'); 
  /*background-color: #cc0000;    /* color of the scroll thumb */
  border-radius: 0.3vmin;       /* roundness of the scroll thumb */
  border: 0.2vmin solid #cc0000;
}  

 /* required - the "base" of the bar - mostly for setting width */
.boxRU::-webkit-scrollbar {
  width: 2vmin;               /* width of the entire scrollbar */
}
  /* the "track" of the bar, "background" colors */
.boxRU::-webkit-scrollbar-track {
  /*background-image: url('../img/IR_styles/scrollbar.jpg'); */
  -webkit-filter: blur(0.7vmin); /* Safari 6.0 - 9.0 */
  filter: blur(0.7vmin);
}
  /* the actual draggable element */
.boxRU::-webkit-scrollbar-thumb {
  background-image: url('../img/IR_styles/scrollbar.jpg'); 
  /*background-color: #cc0000;    /* color of the scroll thumb */
  border-radius: 0.3vmin;       /* roundness of the scroll thumb */
  border: 0.2vmin solid #cc0000;
}  

 /* required - the "base" of the bar - mostly for setting width */
.boxRD::-webkit-scrollbar {
  width: 2vmin;               /* width of the entire scrollbar */
}
  /* the "track" of the bar, "background" colors */
.boxRD::-webkit-scrollbar-track {
  /*background-image: url('../img/IR_styles/scrollbar.jpg'); */
  -webkit-filter: blur(0.7vmin); /* Safari 6.0 - 9.0 */
  filter: blur(0.7vmin);
}
  /* the actual draggable element */
.boxRD::-webkit-scrollbar-thumb {
  background-image: url('../img/IR_styles/scrollbar.jpg'); 
  /*background-color: #cc0000;    /* color of the scroll thumb */
  border-radius: 0.3vmin;       /* roundness of the scroll thumb */
  border: 0.2vmin solid #cc0000;
}  

/* required - the "base" of the bar - mostly for setting width */
.menu::-webkit-scrollbar {
  width: 2vmin;               /* width of the entire scrollbar */
}
  /* the "track" of the bar, "background" colors */
.menu::-webkit-scrollbar-track {
  /*background-image: url('../img/IR_styles/scrollbar.jpg'); */
  -webkit-filter: blur(0.7vmin); /* Safari 6.0 - 9.0 */
  filter: blur(0.7vmin);
}
  /* the actual draggable element */
.menu::-webkit-scrollbar-thumb {
  background-image: url('../img/IR_styles/scrollbar.jpg'); 
  /*background-color: #cc0000;    /* color of the scroll thumb */
  border-radius: 0.3vmin;       /* roundness of the scroll thumb */
  border: 0.2vmin solid #cc0000;   
}  


/* maybe useless*/
html, body {
    /* get rid of default spacing on the edges */
    margin: 0;
    padding: 0;
    /* get rid of that 2px window border in Internet Explorer 6 */
    border: 0;
    /* fill the height of the browser */
    height: 100%;
    /* no more scroll bar */
    overflow-x: hidden;
    display: block;
    scroll-behavior: smooth;
}

/* maybe useless*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffe6cc; 
  font-family: sans-serif; /*debug*/
  color: #ff0080; /*FUXIA for debug*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-wrap: break-word;
  background-image: url('../img/IR_styles/provanew2.jpg');
}

img {
  width: 100%
  filter: sepia(95%) opacity(70%);
}

figure img {
  width: 100%
  filter: sepia(95%) opacity(70%);
  padding-bottom: 2vh;
}

.highlighted {
  font-style: oblique;
  color: #0052cc; 
}

.highlighted_more {
  font-weight: bold;
  text-decoration: underline; 
}

/*.navbar-nav-selector {
background-color: #c68c8c;
margin-top: 2.5vmin;
}

.buttons {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: #993333;
  margin-right: 1vmin;
  font-family: 'Cinzel', serif;
  font-size: 1.2vw;
}*/

/* CHIEDI a ENIRCA COME CLASSIFICARE DIV sua e COME METTERE ANCHE NOI*/
.enriclass {
  text-align: right;
  color:  #cc0000;
  font-size: 1.1em;
  font-family: 'IM Fell Great Primer', serif;
  letter-spacing: 0.02vmin;
}

.title_art h2 {
  padding-right: 1.25em;
  color: #330000;
  letter-spacing: 0.95pt;
  word-spacing: 2.75pt;
  text-align: center;
  font-size: 2.75em;
  font-family: 'IM Fell Great Primer SC', serif;
}

.title_art p {
  padding-right: 1.25em;
  color: #330000;
  font-weight: bold;
  /*line-height: 5vmin;*/
  text-align: center;
  letter-spacing: 0.95pt;
  word-spacing: 2.75pt;
  font-size: 1em;
  font-family: 'IM Fell Great Primer', serif;
}

.maincontent {
  text-align: justify;
  padding: 1vmin 5vw;
  color: #330000;
  font-size: 3vmin;
  font-family: 'IM Fell Great Primer', serif;
  font-weight: 500;
}

.maincontent h3 {
  font-size: 1.3em;
  font-family: 'IM Fell Great Primer SC', serif;
  font-weight: bold;
  color: #330000;
  text-align: center;
  letter-spacing: 0.8vmin;
}

.maincontent h4 {
  font-size: 1.2em;
  font-family: 'IM Fell Great Primer SC', serif;
  color: #330000;
  text-align: center;
  letter-spacing: 0.7vmin;
}

.maincontent h5 {
  font-size: 1.2em;
  font-family: 'IM Fell Great Primer SC', serif;
  color: #330000;
  text-align: center;
  letter-spacing: 0.6vmin;
}

.maincontent h6 {
  font-style: italic;
  font-size: 1.1em;
  font-family: 'IM Fell Great Primer SC', serif;
  color: #330000;
  text-align: center;
  letter-spacing: 0.5vmin;
}

.maincontent a:link {
  color:  #cc0000;
  text-decoration: none;
  font-weight: bold;
}

.maincontent a:visited {
  color: #cc0000;
}

.maincontent a:hover {
  color: #ff0000;
  font-style: italic;
  /*text-decoration: underline;*/
}

.maincontent div[id^="sec"] p:first-of-type::first-letter {
  font-family: 'Arabesque';
  font-size: 15vmin;
  font-style: normal;
  color: #0052cc;
  font-weight: 500;
}

/*.maincontent div[id^="sec"] {
  background-color: #ffa31a;
  color: ;
  margin: 0vmin;
  padding: 2.5vmin;
}*/


/*.maincontent p {
  color: ;
  margin: 2vmin;
  padding: 2vmin;
}*/


/*this may indeed be a PROBLEM*/
/*.maincontent table, .maincontent table img, .maincontent ol, .maincontent ul, .maincontent img, .maincontent blockquote {
}*/

.annexes {
  text-align: center;
  color:  #cc0000;
  font-size: 1.1em;
  font-family: 'IM Fell Great Primer', serif;

  letter-spacing: 0.02vmin;
}

.annexes h3 {
  text-align: center;
  color:  #cc0000;
  font-size: 1.3em;
  font-family: 'IM Fell Great Primer SC', serif;
  margin: 0;
  font-weight: bold;
}

.annexes h4 {
  text-align: center;
  color:  #cc0000;
  font-size: 1.2em;
  font-family: 'IM Fell Great Primer SC', serif;
  margin: 0;
  font-weight: bold;
}

.annexes h5 {
  text-align: center;
  color:  #cc0000;
  font-size: 1.1em;
  font-family: 'IM Fell Great Primer SC', serif;
  margin: 0;
  font-weight: bold;
}

.annexes p {
  margin: 0;
  font-weight: 500;
}

.annexes h3, .annexes h4, .annexes h5, .annexes p {
  margin-bottom: 1vmin;
}

.annexes ul {
  margin-top: 0.4vmin;
}

.annexes>ul>li {
  text-align: left;
  /*border-left: 5px solid #cc0000;*/
  margin: 0;
  margin-right: 4em;
  padding: 0;
  list-style-type: square;
  list-style-position: inside;
  color:  #cc0000;
  font-size: 0.90em;
  font-weight: 500;

  font-family: 'IM Fell Great Primer', serif;
}

.references {
  margin: 3em 2em;
  padding-right: 3em;
  padding-left: 3em;
  border: 0.3em double #0052cc;
  border-radius: 0.5em;
  /*color:  #006600;*/
  color: #0052cc;
  font-size: 1.1em;
  font-family: 'IM Fell Great Primer', serif;
  text-align: justify;
  letter-spacing: 0.02vmin;
}

.references ul {
  padding-left: 0;
}

.references>ul>li {
  margin: 0;
  padding: 0;
  list-style-image: url('../img/IR_styles/notina.png');
  /*color:  #006600;*/
  color: #0052cc;
  font-size: 0.90em;
  font-family: 'IM Fell Great Primer', serif;
  font-weight: 500;
  text-align: justify;
  padding-bottom: 2.5vmin;
}

/*.references>ul>li:nth-child(odd) {
}

.references>ul>li:nth-child(even) {
}*/

blockquote {
  text-align: justify;
  /*color: #0052cc;*/
  font-family: 'IM Fell Great Primer', serif;
  /*padding: 1vmin 1.5%;*/
  letter-spacing: 0.1vmin;
  word-spacing: 0.1vmin;
  font-style: italic;
  column-count: 2;
  column-gap: 6vmin;
  column-rule: none;
  column-width: 10vmin;
}

q {
  font-family: 'IM Fell Great Primer', serif;
  font-style: italic;
}

.maincontent p cite {
  font-family: 'IM Fell Great Primer', serif;
  font-style: oblique;
  color: #cc0000;
}

.maincontent p em {
  font-family: 'IM Fell Great Primer', serif;
  color: #cc0000;
}

.maincontent p strong {
  font-family: 'IM Fell Great Primer', serif;
  font-size: bold;
}

table.table {
  width: 100%;
  border: 2pt double  #cc0000;
  empty-cells: show;

  padding: 0;
  /*width: 40%;*/
  table-layout: fixed;
}

table, th, td, thead {
  border: 2pt double  #cc0000;
  /*border-collapse: collapse;*/
  text-align: center;
  vertical-align: bottom;
}

th, td, thead {
  width: 20%;
}

table th {
  color: #cc0000;
}

/*table td:hover{
  text-decoration: underline;
}*/

table tr:hover{
  text-decoration: underline;
}


h6#main_art_title, h6#guest_art_title, h6#rev_art_title {
  font-family: 'IM Fell Great Primer', sans-serif;
  letter-spacing: 0.02vmin;
  color: #cc0000;
  scroll-behavior: smooth;
  font-size: 2.5vmin;
  text-align: center; 
}
