.header {
  background-color: #e3dac9;
  text-align: center;
  padding: 20px;
  font-family: 'Rye', cursive; text-align: center; margin: 20px; font-size: 40pt; letter-spacing: 8px;"
}

 /* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: sticky;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
} 


/* Create three different columns that float next to each other */
 .column {
  float: left;
}

/* Left column */
.column.left-side {
  width: 9%;
  padding: 1px;
}

/* Middle column */
.column.middle {
  width: 45%;
  height: 80vmin;
  padding: 1px;
  overflow: auto;
}

/* Right column */
.column.right-side {
  width: 45%;
  height: 40vmin;
  padding: 1px;
  overflow: auto;
  border: 1px solid black;
  box-sizing: border-box;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.left-side, .column.middle, column.right-side {
    width: 100%;
  }
} 

/*container {
  display: flex;
  flex-direction: row;
  flex_wrap: nowrap;
  justify-content: space-between;
  widht: 100%;
}*/

body {
  background-color: #e3dac9;
  margin: 1em 2em;
  padding: 1em 2em;
  font-family: 'Rockwell';
  color:  black;
}

h1 {
  color: blue;
}

p {
	
}

.entity {
  background-color: red;
  font-style:oblique;
}

.place {
  background-color: #918151;
  font-style:oblique;
}

.person {
  background-color: green;
  font-style:oblique;
}


.footer {
  text-align: center;
  padding: 20px;
  bottom: 2%;
}
